html, body {
  vertical-align: bottom;
  height: 100%;
  width:auto;
  vertical-align: bottom;
  
  padding: 0;
}

 /* Map takes 50% of window size */
.map50 {
  vertical-align: baseline;
  height: 50%;
  width:100%;
}

.content {
  display: inline-block;
  padding: 30px;
  background-color: lightgrey;
  position: relative;
}

.content:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: calc(50%-10px );
  border: 10px solid transparent;
  border-top-color: lightgrey;
}

#Title {
  font-size: 2.3em;
  margin-bottom:20px !important;
}

#SubTitle {
  font-size: 1.7em;
  margin-bottom:20px !important;
}

#SmallTitle {
  font-size: 1.3em;
  margin-bottom:20px !important;
}
 
.img {
    max-width: 100%;
    background-color: transparent;
}
p {
    margin: 10px 10px 10px;
    padding: 0px;
    color: #444444;
}
 
a {
    color: rgb(41, 113, 52);
    cursor: pointer;

}
a:hover {
    color: rgb(0, 0, 0);
}
a:focus{
     outline: none;
     outline-offset: 0;
 }
