.container {
  display: inline-block;
  padding: 30px;
  background-color: indianred;
  position: relative;
}


.container:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: calc(50%-10px );
  border: 10px solid transparent;
  border-top-color: indianred;
}


#Title {
    margin-bottom:20px !important;
}
ul li, ol ul li {
    background: none;
}
img {
    max-width: 100%;
}
p {
    margin: 0px 0px 10px;
    padding: 0px;
    color: #333333;
}
dd {
    margin-left:20px;
    padding-bottom: 10px;
}
a {
    color: rgb(41, 113, 52);
    cursor: pointer;

}
a:hover {
    color: rgb(0, 0, 0);
}
a:focus{
     outline: none;
     outline-offset: 0;
 }
